/****** General ***********/
*

{
    font-family: 'Raleway', sans-serif;
    
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.accessibility-label {
	position:absolute;
	left:-999px;
}


.nav {
    display: flex;
    justify-content:space-between;
   
    }

.flex {
    display:flex;
    justify-content:space-between
    
    
    }

.menu {
    text-decoration: none;
    padding: 30px;                           
    color: black;
    border-top: 3px solid tr       
}

.menu:hover {
    border-top-color: var(--blue);
    color: var(--blue);
}




form {
    display: inline-block;
    width: 100%;
}

form i {
    background-color:lightgrey;
    padding: 10px 13px;
    border-radius: 15px 0 0 15px;
}

form input {
    border: 1px solid lightgrey;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0 7px 10px;
    margin-left: -5px;
}

form input {
    color:black;
}

form h1 {
    font-size: 20px;
}

form button {
    border-radius: 0 14px 14px 0;
    background-color:#0065FC;
    border: none;
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 17px 8px 17px;
    cursor: pointer;
    margin-left: -5px;
}

form button:hover {
    box-shadow: 1px 1px 10px var darkgrey;
}



.fa-solid.fa-magnifying-glass {
    display: none;  
}


.filters {
    display: inline-flex;
    padding-top: 18px;
    margin: 20px;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
 }

 .filters h3 {
    margin-right: 20px;
    padding: 30px;
}

.button-filter p {
    margin: 0;
    padding-right: 20px;
    cursor: pointer;
}

.button-filter {
    font-weight: bold;
    border: 1px solid darkgray;
    border-radius: 30px;
    border-left: none;
}

.button-filter:hover{
    background-color:lightblue;
    box-shadow: 0 0 8px darkgray;
}
  
.button-filter .fa-solid {
    background-color:transparent;
    border-radius: 30px;
}

.button-filter .fa-child-reaching {
    padding: 14px 17px 14px 17px;
    margin-right: 10px;
    color:blue;
}

.button-filter .fa-heart, .fa-money-bill-wave, .fa-fire {
    
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color:blue;
}



#icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
}  

.fa-solid.fa-info {
    border: 1px solid lightgrey;
    border-radius: 50%;
    color:blue;
    height: 25px;   
    width: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}